<% if resource.errors.any? %>
  <div id="error_explanation">
      <% resource.errors.full_messages.each do |message| %>
	  <font color="#ff6961"><%= message %></font><br/>
      <% end %>
  </div>
<% end %>
