<p>Forecast Customization System</p>

<small>FOCUS is aimed at providing monthly and seasonal forecast of rainfall one month to three monthes called
    <br/>
    the Extended Range Weather Forecasting ...... 
</small>

<div class="btn-wrapper">

    <div class="text-center">

	<a href="/users/sign_in" class="btn btn-primary wow slideInLeft">LOGIN</a> &nbsp;&nbsp;&nbsp;<a href="/users/sign_up" class="btn btn-default wow slideInRight">REGISTER</a>

    </div>

</div><!-- end row -->

