<p>Forecast Customization System</p>


<div class="btn-wrapper">

    <div class="text-center">

	<small>Dear User, 

Thank you for registering for the FOCUS system. The FOCUS alpha test officially ends today and will be temporarily unavailable. 

We are happy to say that this Alpha test went very well and your feedback will help us a lot to improve further. 

While offline, we will continue working on improving the functionality of the tool. 

Thank you all again!

<br>
<br>

FOCUS Team
<br>
1st May 2020
	</small>
    </div>

</div><!-- end row -->

